@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    background-color: #333;
    color: hsl(40, 5%, 64%);
    padding: 2rem;
    text-align: center;
    margin-top: 20px;
  }
  
  div {
    max-width: 600px;
    margin: 0 auto;
  }
  
 h3 {
    color: hsl(40, 5%, 64%);
  }
  
  p {
    margin-top: 0.5rem;
  }
  