@use '../../styles/styles.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    background-color: styles.$secondary-color;
    color: styles.$primary-color;
    padding: 2rem;
    text-align: center;
    margin-top: 20px;
  }
  
  div {
    margin-top: 0px;
  }

  h5 {
    padding-bottom: 5px;
  }
  
  .feedback {
    color: styles.$primary-color
  }
  